<?xml version='1.0' encoding='UTF-8'?>
<Configuration>
	<Appenders> <!-- Appenders는 출력장치 -->
		<Console name='console' target='SYSTEM_OUT'>
			<PatternLayout />
		</Console>
		<RollingFile name='file' fileName='c:/DEV/spring.core.log'
			filePattern='c:/DEV/spring.core.%d{yyyy-MM-dd-HH-mm-ss}.log' append='true'> <!-- append는 덮어씌기방지 -->
			<PatternLayout pattern='[%-5p: %d{yyyy/MM/dd HH:mm.ss}] %m%n'/><!-- %m메세지 %n줄바꿈  %p는 로그 수준-->
			<Policies>		<!-- 파일을 새로 만들간격  -->
				<TimeBasedTriggeringPolicy interval='86400'/>
			</Policies>
			</RollingFile>
	</Appenders>
		
	<Loggers>		<!-- err쓰면 err만 뜸 -->
		<Root level='info'> <!-- level은 log수준이다 이수준이상만 출력 -->
			<AppenderRef ref='console' />
			<AppenderRef ref='file'/>								
		</Root>
	</Loggers>
</Configuration>